/* STYLE SECTIONING TAGS */
    *{
      margin: 0px;
      padding: 0px;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%; 
        background-color: #9EBDAA;
    }
    
    /* STYLE TEXT */
    header{
        display: flex; 
        justify-content: space-between; /* Separate name and nav bar */
        align-items: center; /* Align items vertically */
        background-color: #9EBDAA;
    }

    #name {
        color: white;
        font-size: 2em;
        font-family: 'Roboto', sans-serif;
        padding: 10%;
      }
    
    h1 {
      color: white;  
      text-align: center;
      font-size: 2em; 
      padding-top: 1em; 
    }
    
    nav{ 
      text-align: right; 
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
    }

    nav ul {
        list-style-type: none;
    }
      
    nav li {
        display: inline;
        margin-left: 1.5em;
    }
    
    nav li a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
    }

    nav li a:hover {
        background-color: #B8D9D0;
        border-radius: 5px;
        padding: 0.3em;
    }
    
    main { 
        margin: 0;
        /* width: 100%; */
        background-color: #9EBDAA;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    p {
      color: white;   
      text-align: center;
      font-family: 'Mali', cursive;
      font-size: 22px; 
      padding-top: 1em;
    }
    
    #portrait{
        max-width: 20%; /* Reduced size */
        display: block; /* Center it */
        margin: 2em auto 1em auto; /* Added margin */
        border-radius: 80%;
    }

    .intro {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-align: center;
        padding: 1em 0 2em 0; /* Added padding under the text */
    }
    
    /* ul{
      list-style-type: none; 
      background-color: #728E75;  
      overflow: hidden; 
      padding: 0.75em; 
    }
    
    li{
      display: inline; 
    }
    
    li a{
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      padding: 0.3em; 
    }
    
     li a:hover{
    background-color: #B8D9D0; 
     }  */

    /* STYLE IMAGES */
    
    /* STYLE NAV BAR */